<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find chefbot_description)/urdf/kbot.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

    <node name="steer" pkg="rqt_robot_steering" type="rqt_robot_steering" />   
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output='screen'/>

    <arg name="scan_topic" default="/scan" />
    <arg name="odom_topic" default="/odom" />
    
    <include file="$(find slam)/launch/gmapping.launch" />

    <!-- Load the URDF into the ROS Parameter Server -->
    <arg name='gazebo' default="false" /> 

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chefbot_bringup)/rviz/robot.rviz" />

    <include file="$(find chefbot_bringup)/launch/ekf.launch" />
</launch>
