<launch>
    <!-- these are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <rosparam param="base_width">0.186</rosparam>
    <rosparam param="ticks_meter">4504</rosparam>

    <!-- Load the URDF into the ROS Parameter Server -->
    <arg name="model" />
    <param name="robot_description" command="$(find xacro)/xacro '$(find chefbot_description)/urdf/rbot.xacro'" />
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model rbot -param robot_description" /> -->

    <group>
        <rosparam file="$(find chefbot_bringup)/config/controllers.yaml" command="load" />
        <node name="robot_hardware_interface" pkg="chefbot_bringup" type="mbot" output="screen" />
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
        roachbot/joint_state_controller
        roachbot/rwheel
        roachbot/lwheel" />
    </group>

    <node pkg="chefbot_navig_cpp" type="twist_to_motor" name="twist_to_motor" output="screen">
        <remap from="rwheel_vtarget" to="/roachbot/rwheel/command" />
        <remap from="lwheel_vtarget" to="/roachbot/lwheel/command" />
    </node>
    <node pkg="chefbot_navig_cpp" type="diff_tf" name="diff_tf" output="screen" />
</launch>
