<launch>
     <!-- Load the URDF into the ROS Parameter Server -->
     <arg name='gazebo' default="false" />
     <param name="robot_description" command="$(find xacro)/xacro '$(find chefbot_description)/urdf/kbot.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">             
    </node>

    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output='screen'/>     

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chefbot_bringup)/rviz/robot.rviz" />
</launch>